.font-link {
  font-family: "Lily Script One", cursive;
}

.body {
  background-color: white;
}

#mapa {
  border: 1px solid black;
}

#img {
  border: 2px solid black;
}

#image-2{
  width: 200px;
  height: 200px;
}
#logo{
  width: 100px;
  height: 100px;
}

#uploadedimage {
  border: 2px solid black;
  width: 200px;
  height: 150px;
}