.navbar , footer{

    background: orange;
}

#exampleFormControlMessage{

    height: 200px;
}

.centro{
    
    height: 300px;
    margin-top: 200px;
    margin-bottom: 200px;
}

.far{
    position: absolute;
    right: 10px;
    top:50%
    
}