#fast-food {
    text-align: center;
    background-image: url("https://thumbs.dreamstime.com/b/borde-superior-de-comida-chatarra-sobre-fondo-banner-m%C3%A1rmol-blanco-selecci%C3%B3n-r%C3%A1pida-y-consumo-pizza-hamburguesas-fritas-patatas-243199322.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    
}

.font-change {
    font-family: 'Bree Serif', serif;
  }