#fast-food {
    text-align: center;
    background-image: url("https://img.freepik.com/vector-premium/composicion-plana-horizontal-acuarela-borde-costuras-comida-tradicional-japonesa-sushi_714749-140.jpg?w=2000");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.font-change {
    font-family: 'Bree Serif', serif;
  }