#hamburger {
    text-align: center;
    background-image: url("https://thumbs.dreamstime.com/z/summer-bbq-food-frame-hot-dog-hamburger-buffet-overhead-view-against-white-wood-background-copy-space-188461810.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}