#hamburger {
    text-align: center;
    background-image: url("https://img.freepik.com/free-photo/close-up-sandwich-with-copy-space_23-2148262980.jpg?w=1060&t=st=1676047381~exp=1676047981~hmac=19e652b2072584a0ee5b556c7f88bd6354728bd319044e9925da0736ed2900dd");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.font-change {
    font-family: 'Bree Serif', serif;
  }