#hotdog {
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/hamburgers-french-fries_136595-17877.jpg?w=996");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.font-change {
    font-family: 'Bree Serif', serif;
  }